/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/bundles/rhwebchildthemetemplate/assets/fonts/lato-v22-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('/bundles/rhwebchildthemetemplate/assets/fonts/lato-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/bundles/rhwebchildthemetemplate/assets/fonts/lato-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/bundles/rhwebchildthemetemplate/assets/fonts/lato-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('/bundles/rhwebchildthemetemplate/assets/fonts/lato-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/bundles/rhwebchildthemetemplate/assets/fonts/lato-v22-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}