{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_footer %}
    <div class="custom-testimonial-section">
        <!-- Put your content here -->
    </div>
    {{ parent() }} <!-- Parent = Content from Main Theme is loaded -->
{% endblock %}